body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #87eb9e;
}

.video-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

video {
  max-width: 1080px;
  width: 100%;
  border: 2px solid #333;
  border-radius: 8px
}
iframe {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#logo-izquierdo {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 150px;
  z-index: 9999;
}

#logo-derecho {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 150px;
  z-index: 9999;
}
.btn-continuar {
  padding: 20px 40px;
  font-size: 24px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-continuar:hover {
  background-color: #333333;
  transform: scale(1.05);
}

